{
  "TO": "",
  "FROM": "",
  "LANG": "en",
  "DYNAMODB_TABLE": "",
  "TASKS_TABLE": "",
  "NAMES_TABLE": "",
  "POSTS_TABLE": "",
  "DOCS_TABLE": "",
  "BUCKET_NAME": "",
  "BUCKET_VOICEIN": "",
  "BUCKET_VOICEOUT": "",
  "VOICE_PIPELINEID": "",
  "HISTORY_TABLE": "history",
  "HISTORY_HOURS": 24,
  "HISTORY_CHARS": 15000,
  "AWS_KMS_ENCRYPTION_KEY_ID": "",
  "PINATA_JWT": "",
  "NFT_STORAGE_TOKEN": "",
  "BOT_TOKEN": "",
  "CHATGPT_TOKEN": "",
  "SLS_ORG_TOKEN": "",
  "SUPPORT_CHAT": "",
  "MINAFEE": "0.1",
  "JWT_PRIVATEKEY": "",
  "BOTAPIAUTH": "",
  "STRIPE_KEY": "",
  "ALGOLIA_KEY": "",
  "ALGOLIA_PROJECT": "",
  "SMARTCONTRACT": "MinaNFT",
  "GASTANKPRIVATEKEY": "",
  "CHATGPTPLUGINAUTH": ""
}
